# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual envs
.venv/
venv/
env/

# Django
*.log
local_settings.py
db.sqlite3
staticfiles/

# Environment
.env
.env.local
.env.*.local

# macOS
.DS_Store

# IDE
.vscode/
.idea/
*.swp
